.footer {
  text-align: center;
  background-color: #2c2b2b;
  height: 70px;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom:0;
  left:0;
  width: 100%
}

.footer a {
  font-size: 20px;
  color:  #248232;
}

.footer a:hover {
  color: #26A96C;
}

.footer p {
  color: #6B6C6C;
  margin: 8px;
  font-size: 12px;
}

#photographyfoot {
  background-color: #612940 !important;
}
